{% extends 'base.html.twig' %}

{% block title %}Hello UserSpaceController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                {{ app.user.img }}
                {{ app.user.prenom}}
            </div>
            <div class="col-6">
                <select class="form-control form-control-sm">
                   {% for test in competence %}
                        <option>{{ test.competences }}</option>
                    {% endfor %}
                </select> 
            </div>
        </div>
    </div>
{% endblock %}
