/*************
** GENERAlE **
*************/

body{
    background-image: url('../img/arrière-plan_site.png');
    background-attachment: fixed;
    background-size: cover;
}

h2{
    margin: auto;
}

.colorBack{
    background: #c7d0d8;
}
/*************
** 1 NAVBAR **
*************/
.navbar-brand img{
    width: 80px;
    border-radius: 100px;
}

.nav-item{
    margin-right: 30px;
    background-color: #8998A1;
    border-radius: 15px;
    transition: 0.6s;
}

.nav1{
    color: #0000;
}

.nav-item:hover{
    background-color: #0D3153;
}

.nav1:hover{
    color: #FFFF!important;
}

/*************
** 2 NAVBAR **
*************/

.active {
    background-color: #0D3153!important;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.menu {
    background-color : #8998A1;
}

.menu a{
    color:black;
}

.nav-pills a{
    font-weight: bold;
    padding: 12px 0 12px 0;
}


/************
** ACCUEIL **
************/

.color{

    background-color: #AAA7A5;
    border-radius: 12px;
}

#accueil h5{
    margin: auto;
}

.arrow img{
    width: 60%;
    padding-top: 100px;
}

/************
** METIERS **
************/

.circle{
    width: 10vw;
    height: 14vw;
    border-radius: 50%;
    box-shadow: 4px 5px 0px 1px #8998a1;
}

/***************
** PARTENAIRE **
***************/

#partenaire .colorBack{
    border-radius : 25px;
}

#partenaire h2{
    text-decoration: underline;
}

/************
** CONTACT **
************/

#contact .colorContact{
    background : #AAA7A5;
    border-radius : 25px;
}

.form-group{
    margin-bottom: 0;
}

.form-control{
    border-radius: 0;
}

.form-group button{
    background: #AAA7A5;
    border: none;
}

/****************
** INSCRIPTION **
****************/

.form{
    background: #AAA7A5;
    border-radius: 25px;
}

.listAbo{
    border-right: 3px solid;
}

.titleAbo{
    margin:0;
}

.validAbo{
    margin: auto;
    background-color: #0D3153;
}

/**********
** LOGIN **
***********/

.formLog{
    background-color: #AAA7A5;
    border-radius: 25px;
}

.formLog a{
    color: rgba(0,0,0,.5);
}

.formLog a:hover{
    text-decoration: none;
}

.formLog button{
    background: #0D3153;
    color: #fff;
    transition: 0.6s;
}

.formLog button:hover{
    background: #195791;
    color: #fff;
}

/***************
** MON ESPACE **
***************/

.formSearch{
    background-color: #AAA7A5;
    border-radius: 25px;
}

.formSearch img{
    padding-right: 18%;
    margin-top: 14%;
}


.candidat{
    background-color: rgba(81, 80, 82, 0.9);
    border-radius: 25px;
	width:900px;
}

.well{
    padding:25px;
}
